<div class="wrapper mt-50">
    <form (submit)="save()" >
        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" name="name" class="form-control" [(ngModel)]="institute.name" [disabled]="!editing" required pattern=".{5,}" >
        </div>
        <div *ngIf="institute.secretaries.length > 0">
            <p>Secretarias</p>
            <ul class="list-group">
                <li class="list-group-item" (click)="goToSecretaryDetail(secretary.id)"
                    *ngFor="let secretary of institute.secretaries">{{secretary.name}}</li>
            </ul>
        </div>
        <div *ngIf="editing && !showEdit">
            <p>Secretarias</p>
             <div *ngFor="let secretary of secretaries" >
                <div class="form-group">
                    <label for="name">Nome</label>
                    <input type="text" name="name" class="form-control" [(ngModel)]="secretary.name">
                </div>
             </div>
             <button (click)="newSecretary()" class="btn btn-success btn-edit" ><i
                class="fas fa-plus"></i>Nova Secretaria</button>
        </div>
        <div class="btn-group">
            <button *ngIf="!editing && showEdit" (click)="edit()" class="btn btn-primary btn-edit"><i
                    class="fas fa-pencil-alt"></i>Editar</button>
            <button *ngIf="editing && showEdit" (click)="cancelEdit()" class="btn btn-danger btn-edit"><i
                    class="fas fa-times"></i>Cancelar</button>
            <button *ngIf="editing" type="submit" class="btn btn-success btn-save">Salvar<i
                    class="fas fa-check"></i></button>
        </div>
    </form>

</div>