<div class="wrapper mt-50">
    <form>
        <div class="form-group">
            <label for="institute">Contrato</label>
            <select name="institute" class="form-control" (change)="onInsituteChange()"
                [(ngModel)]="selectedInstituteId">
                <option *ngFor="let institute of instituteOptions" [value]="institute.id">{{ institute.name }}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="secretary">Secretaria</label>
            <select name="secretary" class="form-control" (change)="onSecretaryChange()"
                [(ngModel)]="selectedSecretaryId">
                <option *ngFor="let secretary of secretaryOptions" [value]="secretary.id">{{ secretary.name }}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="title">Título</label>
            <input type="text" class="form-control" name="title" [(ngModel)]="publication.title">
        </div>
        <div class="form-group">
            <label for="modality">Modalidade</label>
            <input type="text" class="form-control" name="modality" [(ngModel)]="publication.modality">
        </div>
        <div class="form-group">
            <label for="date">Data da publicação</label>
            <p-calendar name="date" inputStyleClass="form-control" dateFormat="dd/mm/yy" placeholder="Data da publicação" [locale]="br" [(ngModel)]="publication.date"></p-calendar>
        </div>
    </form>
</div>