.list-group-item {

    &:hover {

        background: #eccc68;
        cursor: pointer;
        color:#fff;
        //border-color: #fff;

    }


}

.btn-save {

    margin-top: 25px;

    i {

        margin-left: 5px;

    }

}

.btn-edit {

    margin-top: 25px;

    i {

        margin-right: 5px;

    }

}